<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search movie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar  placeholder="Search movie..." 
                  animated
                  debounce="700"
                  [value]="textToSearch"
                  (ionChange)="search($event)"
                  showCancelButton="always">
  </ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" size="12" *ngIf="searching" >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
      <ion-col size="12" *ngIf="movies.length===0">
        <ion-chip *ngFor="let suggestion of suggestions" color="primary" mode="ios" outline="true">
          <ion-label (click)="onClick(suggestion)" >{{suggestion}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="movies" [slider]="false"></app-slideshow-backdrop>
  
</ion-content>
