<ion-content [fullscreen]="true">
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favorites</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="favorites.length===0">
    <div class="ion-text-center">
      <h2>No movie in favorites</h2>
    </div>
  </ng-container>
  <ng-container *ngFor="let genre of genres">
    <ion-grid fixed *ngIf="(favorites | genre:genre.name).length > 0">
      <ion-row>
        <ion-col>
          <h4>{{genre.name}}</h4>
          <app-slideshow-backdrop (stillFavorite)="removeFavorite($event)" [movies]="favorites | genre:genre.name"></app-slideshow-backdrop>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

</ion-content>
